.draggable-container {
    min-height: 30px;
    position: fixed;
    overflow: hidden;
    background-color: #ccc;
    padding: 3px 0 0 3px;
    border: 1px solid #999;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);

    -webkit-transition: height 200ms linear;
    -moz-transition: height 200ms linear;
    transition: height 200ms linear;
    opacity: 1
}

.draggable-header {
    height: 30px;
}

.draggable-content {

}

.draggable-footer {
}


.draggable-handler{
    cursor: move;
}
