.terminal {
    float:none;
    border:0;
    padding: 5px;
    -webkit-box-shadow: inset -1px -1px 1px 2px rgba(204,204,204,1);
    -moz-box-shadow: inset -1px -1px 1px 2px rgba(204,204,204,1);
    box-shadow: inset -1px -1px 1px 2px rgba(204,204,204,1);
}

.terminal-control {
    float: right;
    height: 27px;
    line-height: 27px;
    width:  20px;
    font-weight: bold;
    cursor: pointer;
    font-family: arial;
}

.terminal-control:hover {
    color: #960000;
}


.terminal-title {
    float: left;
    padding-left: 5px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
    font-family: arial;
}


.terminal-resize {
    position: absolute;
    cursor: nwse-resize;
    width: 3px;
    height: 3px;
    bottom: 0;
    right:0;
    border: 1px solid black;
}

